body{
    background-color: #fff2e9;
}
.container{
 background-color: rgba(255, 255, 255, 0.5); /* Set the background color with some opacity */
 backdrop-filter: blur(10px); /* Apply a backdrop blur effect */
 border-radius: 12px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
 padding: 20px;
 width: 300px;
 height: 400px;
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: center;
 text-align: center;
 font-size: 24px;
 font-weight: bold;
 color: #333;
 position: relative;
 top: 100px;
 left: 440px;
}
input{
    border-radius: 15px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    padding: 8px;
    padding-left: 15px;
    position: relative;
    top:50px;
}
p{
    font-size: 10px;
    position: relative;
    top: 100px;
    opacity: 40%;
}
button{
    position: relative;
    top:100px;
    background-color: #F3D67E;
    padding:8px 20px 8px 20px;
    border-radius: 50px;
    border: none;
}
